<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title><%- title %></title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <!-- Replace 'logo.svg' with the path to your SVG logo ViewBox -->
      <?xml version="1.0" standalone="no"?>
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="65 40 180 180" preserveAspectRatio="xMidYMid meet">
  <metadata>
    Created by Cameron Jackson
  </metadata>
  <g transform="translate(0,300) scale(0.10,-0.10)" fill="#000000" stroke="none">
    <path d="M1020 2326 c-75 -21 -142 -61 -192 -114 -27 -28 -48 -55 -48 -61 0
-6 -8 -11 -17 -11 -13 0 -14 -3 -5 -12 6 -6 8 -16 3 -22 -4 -6 -20 -45 -36
-86 -15 -41 -31 -82 -35 -91 -5 -10 -4 -21 2 -27 6 -6 6 -12 -1 -16 -17 -11
-13 -26 7 -26 16 -1 16 -1 0 -11 -22 -12 -24 -31 -3 -23 18 7 20 -7 3 -24 -9
-9 -8 -12 4 -12 9 0 19 -8 22 -17 12 -41 28 -143 32 -203 3 -36 9 -92 15 -124
8 -44 7 -61 -1 -66 -9 -6 -10 -16 -1 -42 9 -27 7 -51 -8 -121 -16 -73 -24 -91
-50 -113 -35 -29 -71 -92 -64 -111 7 -18 24 -16 122 13 67 20 94 34 120 62 30
31 35 33 46 19 7 -10 20 -17 29 -17 10 0 24 -7 33 -15 10 -10 19 -12 27 -7 6
5 20 6 31 1 35 -14 85 -11 85 6 0 11 -11 15 -37 15 -50 0 -112 18 -141 41 -13
10 -29 16 -37 13 -7 -3 -16 3 -20 15 -6 21 -25 29 -25 11 0 -5 -4 -10 -10 -10
-18 0 -92 301 -77 317 4 4 47 -144 47 -161 0 -23 55 -126 67 -126 28 0 35 50
23 158 -7 57 -10 106 -6 109 9 9 56 -26 56 -41 0 -10 7 -12 21 -9 19 5 21 3
17 -20 -6 -32 -6 -32 32 -12 28 15 30 14 30 -5 0 -26 22 -26 45 0 14 16 20 17
26 8 7 -10 12 -11 29 0 28 17 28 17 40 -30 20 -75 69 -168 89 -168 28 0 31 10
16 41 -19 36 -19 261 -1 374 8 45 10 84 5 89 -5 6 -11 2 -15 -8 -8 -22 -58
-48 -78 -40 -9 3 -16 1 -16 -5 0 -19 -48 -12 -99 14 -55 28 -96 71 -123 133
-23 51 -38 54 -38 7 0 -50 -29 -115 -56 -125 -33 -13 -67 7 -104 62 -60 88
-88 215 -59 271 22 43 52 67 83 67 17 0 46 9 64 20 27 16 33 26 30 48 -3 24
-7 27 -41 27 -20 0 -37 3 -37 7 0 15 95 100 134 119 62 32 188 37 240 10 29
-15 42 -18 47 -9 17 27 125 -45 180 -120 18 -24 42 -69 55 -100 21 -51 24 -54
31 -34 8 20 13 13 48 -60 36 -74 115 -178 136 -178 4 0 52 -26 106 -57 136
-79 221 -116 271 -119 52 -4 139 -42 193 -85 49 -39 99 -123 99 -167 0 -18 7
-43 15 -56 15 -22 14 -24 -5 -29 -14 -4 -20 -13 -20 -34 0 -16 -9 -36 -20 -46
-11 -9 -20 -27 -20 -40 0 -24 -24 -51 -73 -82 l-28 -18 6 26 c4 14 2 35 -5 46
-13 25 -47 21 -92 -10 -36 -26 -48 -24 -48 9 0 38 -9 46 -32 25 -10 -9 -21
-13 -26 -9 -4 5 10 23 31 41 20 17 37 40 37 49 0 9 4 16 9 16 5 0 12 11 15 24
6 25 104 116 125 116 20 0 11 29 -10 32 -32 5 -156 -106 -180 -160 -7 -17 -17
-28 -22 -25 -4 2 -14 -1 -22 -7 -8 -6 -29 -13 -47 -15 -18 -2 -60 -10 -93 -18
-54 -12 -82 -14 -137 -9 -15 2 -18 12 -18 50 0 29 -8 60 -20 82 -11 19 -27 49
-35 67 -30 65 -45 46 -24 -29 5 -22 16 -38 24 -38 21 0 20 -115 0 -154 -18
-35 -19 -78 -2 -95 10 -10 6 -11 -18 -5 -48 11 -80 30 -112 68 -34 37 -58 98
-49 121 3 8 -6 31 -19 52 -14 20 -28 53 -31 75 -4 21 -11 38 -16 38 -18 0 -20
-33 -8 -98 20 -111 23 -142 11 -142 -6 0 -8 -7 -4 -16 4 -10 -4 -24 -23 -40
-31 -25 -54 -31 -54 -14 0 6 -6 7 -17 1 -37 -19 -102 -33 -125 -28 -25 7 -57
-7 -45 -20 24 -23 216 1 310 39 24 9 31 8 51 -11 31 -29 162 -80 206 -80 l35
0 -22 18 c-23 19 -43 60 -43 87 0 24 45 34 166 37 106 2 130 -2 104 -18 -17
-10 -11 -43 8 -47 9 -2 32 -1 50 3 29 6 34 4 42 -17 12 -30 26 -30 83 0 25 14
47 22 50 20 3 -3 3 -23 0 -45 -5 -32 -3 -39 11 -39 47 0 176 96 176 131 0 35
23 71 42 66 24 -7 33 10 16 30 -7 9 -14 30 -15 47 -13 209 -115 316 -358 375
-94 23 -147 49 -282 137 -96 63 -124 96 -187 214 -92 174 -180 268 -293 310
-109 41 -199 49 -283 26z m84 -731 c27 -14 55 -25 62 -25 14 0 16 -79 2 -81
-4 -1 -12 -2 -17 -3 -6 0 -16 -7 -22 -13 -7 -7 -36 -13 -65 -13 -43 0 -54 4
-70 25 -10 13 -31 29 -46 34 -33 12 -38 46 -9 56 10 3 21 15 24 25 8 29 79 27
141 -5z m-231 -49 c-9 -14 -4 -47 9 -63 14 -17 34 -224 24 -249 -6 -14 -18 15
-46 111 -42 147 -58 231 -41 220 6 -3 11 1 11 10 0 14 2 14 25 -1 14 -9 22
-21 18 -28z m416 -66 c-6 -58 -8 -139 -5 -180 8 -94 -5 -83 -39 35 -28 96 -45
232 -26 205 6 -9 11 -10 11 -3 0 10 61 55 67 50 1 -2 -3 -50 -8 -107z m-452
-377 c5 -29 3 -33 -23 -38 -16 -3 -50 -14 -76 -25 -27 -10 -48 -15 -48 -11 0
4 18 22 39 39 31 25 41 41 46 74 13 84 16 87 37 38 11 -25 22 -59 25 -77z"/>
<path d="M1227 2053 c-33 -32 41 -113 102 -113 28 0 45 34 31 61 -22 40 -110
75 -133 52z"/>
<path d="M933 1972 c-56 -40 -67 -62 -30 -62 18 0 22 -6 23 -30 1 -34 27 -59
60 -60 29 0 74 37 74 60 0 17 4 18 26 10 38 -15 54 -12 54 8 0 12 -13 23 -36
31 -20 7 -53 28 -74 47 -21 19 -39 34 -41 33 -2 0 -27 -17 -56 -37z m88 -46
l29 -25 -26 -20 c-35 -28 -52 -26 -65 5 -7 21 -6 31 7 45 21 24 20 24 55 -5z"/>
</g>
</svg>

      <!-- Your Logo Name -->
    </a>

    <!-- Navbar toggle button for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <%- body %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>